html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
body {
  background-color: #0a192f;
  height: 100%;
  position: relative;
}
#side-footer {
  top: 0;
  position: sticky;
  transform: translate(0, 35vh);
  width: fit-content;
  float: left;
  z-index: 2;
}
.side-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  transition: transform 0.3s ease;
}
.side-container:hover {
  transform: scale(1.15);
}
.side-container::after {
  position: absolute;
  top: 110%;
  left: 50%;
  overflow: hidden;
  width: 3px;
  height: 50vh;
  content: "\a0";
  background-color: #8892b0;
}
#side-footer-2 {
  top: 0;
  left: 0;
  position: sticky;
  transform: translate(0, 35vh);
  width: fit-content;
  float: right;
  z-index: 2;
}
.side-container-2 {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 20px;
  margin-right: 10px;
  color: #8892b0;
  font-weight: bolder;
  font-size: larger;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.side-container-2:hover {
  color: #64ffda;
  transform: scale(1.15);
  cursor: pointer;
}
.side-container-2::before {
  position: absolute;
  bottom: 118%;
  overflow: hidden;
  width: 2.5px;
  height: 50vh;
  content: "\a0";
  background-color: #8892b0;
}
#side-icon {
  padding-bottom: 20px;
  margin: 0;
  font-size: 4vmin;
  border-radius: 50%;
  color: #8892b0;
  transition: transform 0.2s;
}

#side-icon:hover {
  color: #64ffda;
  transform: scale(1.3);
}
::-webkit-scrollbar {
  width: 10px;
  background: #0a192f;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px transparent;
  visibility: collapse;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #242f3f;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
  background: #1e2735;
}

#loader-container {
  width: 100%;
  height: 100vh;
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0a192f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.hexagon {
  position: relative;
  width: 70px;
  height: 40.41px;
  background-color: #08192f;
  margin: 20.21px 0;
  border-left: solid 5px #64ffda;
  border-right: solid 5px #64ffda;
  animation: loader 2s infinite ease;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 49.5px;
  height: 49.5px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 5.2513px;
}

.hexagon:before {
  top: -24.7487px;
  border-top: solid 7.0711px #64ffda;
  border-right: solid 7.0711px #64ffda;
}

.hexagon:after {
  bottom: -24.7487px;
  border-bottom: solid 7.0711px #64ffda;
  border-left: solid 7.0711px #64ffda;
}
.letter-z {
  font-size: 100px;
  z-index: 10;
  position: absolute;
  /* transform: translate(77%, -10%); */
  transform: translate(18px, -6px);
}
.z {
  color: #64ffda;
  font-size: 40px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1 {
  color: #ccd6f6;
}

h4 {
  color: #64ffda;
}
h2 {
  color: #8892b0;
}
h3 {
  color: #ccd6f6;
}
p {
  color: #8892b0;
  font-size: 1.7vmax;
}
a {
  text-decoration: none;
}

#particles-js {
  background: #0a192f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* background-attachment: fixed; */
  position: relative;
  z-index: 5;
}
#tsparticles {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}
ParticlesJS {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}
#header {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  position: absolute;
  margin: 3%;
  padding: 3%;
  backdrop-filter: saturate(91%) blur(10px);
  border-radius: 14px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}
.pages {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #0a192f;
}

#pages-container {
  height: 100vh;
}

#scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid transparent;
  position: absolute;
  left: 50%;
  bottom: 20px;
  cursor: pointer;
  border-radius: 20px;
}
#scroll-down::before,
#scroll-down::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  border: 2px solid #ccd6f6;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -95%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 1.35s ease-in-out infinite;
}
#scroll-down::after {
  top: 20%;
  animation-delay: 0.3s;
}
@keyframes scrolldown {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

#scroll-up {
  height: 50px;
  width: 30px;
  border: 2px solid transparent;
  position: absolute;
  left: 50%;
  top: 20px;
  cursor: pointer;
  border-radius: 20px;
}
#scroll-up::before,
#scroll-up::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  border: 2px solid #ccd6f6;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -95%) rotate(225deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrollup 1.35s ease-in-out infinite;
  animation-direction: reverse;
}
#scroll-up::after {
  top: 20%;
  animation-delay: 0.3s;
}
@keyframes scrollup {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 65%;
  }
}

.fa {
  padding: 3vmin;
  font-size: 3.75vmax;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #64ffda;
  transition: transform 0.2s;
}

.fa:hover {
  color: #8892b0;
  transform: scale(1.3);
}

#mydiv {
  font-size: 1.5vmax;
  color: #64ffda;
  padding-top: 2vmin;
  padding-bottom: 4vmin;
  margin-left: 10px;
  margin-right: 10px;
}
#mydiv a {
  font-size: 3vmax;
  color: #ccd6f6;
  padding-left: 10px;
}

#my-pic {
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-color: #64ffda;
  border-style: solid;
  padding: 3%;
  display: block;
  filter: contrast(104%) brightness(87%) sepia(77%) hue-rotate(89deg)
    saturate(75%);
  transition: filter 0.3s linear;
  transition: padding 0.3s linear;
  margin-top: 2vmax;
  margin-bottom: 2vmax;
  width: 80%;
}

#my-pic:hover {
  border-color: #8892b0;
  filter: none;
  padding: 4%;
}

.skills-list {
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
  list-style-type: none;
  margin-top: 20px;
  justify-items: left;
}

li {
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #8892b0;
  font-size: 3vmin;
}
li::before {
  content: "▹";
  padding-right: 10px;
  color: #64ffda;
}
#magic-button {
  border-color: #64ffda;
  border-width: 1px;
  color: #64ffda;
  font-weight: normal;
  padding: 20px 50px;
  margin-top: 30px;
  transition: 0.3s ease;
  background-color: #0a192f;
}
#magic-button:hover {
  background-color: #a9ffeb1a;
}
#magic-button-revert {
  border-color: #64ffda;
  border-width: 3px;
  color: #64ffda;
  font-weight: bolder;
  display: none;
  margin-bottom: 40px;
  background-color: #0a192f;
  transition: 0.3s ease;
}
#magic-button-revert:hover {
  color: #8892b0;
  border-color: #8892b0;
}
#normal-list {
  z-index: 10;
  zoom: 1.2;
}
/* #holder {
  position: relative;
  height: 480px;
  width: 480px;
  background: #0a192f;
  box-sizing: border-box;
  display: none;
} */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #8892b0;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #8892b0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #8892b0;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #8892b0;
}

input::placeholder,
textarea::placeholder {
  color: #8892b0;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #8892b0;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #8892b0;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #8892b0;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #8892b0;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #8892b0;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #8892b0;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #8892b0;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #8892b0;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #8892b0;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #8892b0;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #8892b0;
}

#my-form {
  position: relative;
  width: 90%;
  margin: 50px auto 100px auto;
  text-align: center;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 75%;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #8892b0;

  border: solid 1px #ccd6f6;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #ccd6f6;
  color: #0a192f;
}

textarea {
  width: 75%;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #8892b0;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;

  border: solid 1px #ccd6f6;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #ccd6f6;
  color: #0a192f;
}

#email-submit-button {
  width: 75%;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  color: #8892b0;

  outline: none;
  cursor: pointer;

  border: solid 1px #ccd6f6;
  border-top: none;
}

#email-submit-button:hover {
  color: #0a192f;
}

.gap-bottom {
  width: 100%;
  height: 30vmin;
}
.footer-row-1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer-icon-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
  height: fit-content;
  position: relative;
}
.footer-row-2 {
  display: flex;
  width: 100%;
  justify-content: center;
}
#footer-github {
  color: #8892b0;
  margin-bottom: 20px;
  font-size: 2.5vmin;
  transition: 0.3s ease;
}
#footer-github:hover {
  color: #64ffda;
}
#thiscanvas {
  width: 100%;
  height: 480px;
  background: #0a192f;
}

@media screen and (max-width: 576px) {
  #side-footer {
    display: none !important;
  }
  #side-footer-2 {
    display: none !important;
  }
}
@media screen and (min-width: 576px) {
  .footer-row-1 {
    display: none !important;
  }
}
